<li class="separator acl-write"></li>
<li id="align" class="acl-write">
  <a class="grouped-left ep_gh_markdown" title="Convert markdown">
    <span class="buttonicon"></span>
  </a>
</li>
<li class="separator acl-write"></li>
<style>

  .ep_gh_markdown{
    font-family:font-awesome;
  }

  .ep_gh_markdown > .buttonicon:before{
    content:"M";
  }
	
</style>
